.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.main-menu {
    text-align: center;
}
.header-section {
    margin-top: 20px;
    text-align: center;
}

.header-text {
  color: #2ecc71 !important;
}
.sub-header-text {
    color: #e67e22 !important;
    text-decoration: none;
    font-size: 22px !important;
    margin-bottom: 2px !important;
}
.icon {
  color: #2ecc71;
}

.content-segment-column {
  width: 100% !important;
  padding-top: 55px !important;
}
.content-segment {
  background-color: aliceblue !important;
  min-height: 80vh;
}
.ribbon-container {
  padding: 20px;
}
.list-item-label {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.list-item-span {
  text-align: center
}
.list-item-link {
  float: right
}
.list-item {
  cursor: auto !important;
}
.main-content {
  margin-top: 6px !important;
}